- unless (local_assigns[:receiver].nil? or local_assigns[:sender].nil?)
  - receiver_id = receiver.id
  - sender_id = sender.id
  %div.messageBox{ id: "messageBox_#{receiver_id}" }
    = form_tag(messages_path, remote: true) do
      = hidden_field_tag "message[message_thread_id]", nil, id: 'messageThreadId'
      = hidden_field_tag "message[sender_id]", sender_id
      = hidden_field_tag "message[receiver_id]", receiver_id
      = text_area_tag "message[content]", nil, rows: 10, cols: 30, placeholder: t('user.message_threads.dialogue.message_placeholder')
      %br/
      = text_field_tag "message_thread[title]", nil, placeholder: t('user.message_threads.dialogue.title_placeholder'), maxlength: 40
      %br/
      = submit_tag t('user.message_threads.dialogue.send_message_caption')
