!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hello #{@to.name},
      %br
      &nbsp;&nbsp;#{@from.name} has requested you to become your #{@as_role}.

    %p
      &nbsp;&nbsp;Please use the following link to accept the request
      %br/
      &nbsp;&nbsp;http://#{Settings.default_host}#{accept_mquest_path(token: @mquest_token)}

    %p Thanks,
    Mentor-Mentee Team
