.login_form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-inline' }) do |f|
    .login_form_sub
      = f.label :email
      = f.email_field :email
    .login_form_sub
      = f.label :password
      = f.password_field :password
    = f.submit t('welcome_page.sign_in_form.submit_btn'), class: 'submit button_sign blue'