.head_line
  %h2= t('dashboard.update_status.title')
.update_status_wrap
  .img_box
    = image_tag(current_user_profile_picture_path, height: 86, width: 86)
    %p= current_user.name

  .update_right
    = text_area_tag('status_area')
    = link_to(t('dashboard.update_status.update_btn'), '#', class: 'line_btn')
