- school = nil
- study_field = nil
- degree = nil
- from_date = nil
- to_date = nil

- unless education.nil? 
  - school = education.school
  - study_field = education.study_field
  - degree = education.degree
  - from_date = education.from_date
  - to_date = education.to_date


%table
  %tr
    %td= label_tag t("user.profile.education.heading")
    %td= label_tag

  %tr
    %td= label_tag t("user.profile.education.school")
    %td= text_field_tag 'user[profile_attributes][education_attributes][school]', school, disabled: disabled

  %tr
    %td= label_tag t("user.profile.education.study_field")
    %td= text_field_tag 'user[profile_attributes][education_attributes][study_field]', study_field, disabled: disabled

  %tr
    %td= label_tag t("user.profile.education.degree")
    %td= text_field_tag 'user[profile_attributes][education_attributes][degree]', degree, disabled: disabled

  %tr
    %td= label_tag t("user.profile.education.from_date")
    %td= text_field_tag 'user[profile_attributes][education_attributes][from_date]', from_date, disabled: disabled, placeholder: t('user.profile.date_placeholder')

  %tr
    %td= label_tag t("user.profile.education.to_date")
    %td= text_field_tag 'user[profile_attributes][education_attributes][to_date]', to_date, disabled: disabled, placeholder: t('user.profile.date_placeholder')