- education_school = education.nil? ? nil : education.school
- education_study_field = education.nil? ? nil : education.study_field
- education_degree = education.nil? ? nil : education.degree
- education_from_date = education.nil? ? nil : education.from_date
- education_to_date = education.nil? ? nil : education.to_date


%table
  %tr
    %td= label_tag t("user.profile.education.heading")
    %td= label_tag

  %tr
    %td= label_tag t("user.profile.education.school")
    %td= text_field_tag 'user[profile_attributes][education_attributes][school]', education_school, disabled: disabled

  %tr
    %td= label_tag t("user.profile.education.study_field")
    %td= text_field_tag 'user[profile_attributes][education_attributes][study_field]', education_study_field, disabled: disabled

  %tr
    %td= label_tag t("user.profile.education.degree")
    %td= text_field_tag 'user[profile_attributes][education_attributes][degree]', education_degree, disabled: disabled

  %tr
    %td= label_tag t("user.profile.education.from_date")
    %td= text_field_tag 'user[profile_attributes][education_attributes][from_date]', education_from_date, disabled: disabled

  %tr
    %td= label_tag t("user.profile.education.to_date")
    %td= text_field_tag 'user[profile_attributes][education_attributes][to_date]', education_to_date, disabled: disabled
    