- company = nil
- title = nil
- location = nil
- from_date = nil
- to_date = nil
- description = nil

- unless experience.nil?
  - company = experience.company
  - title = experience.title
  - location = experience.location
  - from_date = experience.from_date
  - to_date = experience.to_date
  - description = experience.description

%table
  %tr
    %td= label_tag t("user.profile.experience.heading")
    %td= label_tag

  %tr
    %td= label_tag t("user.profile.experience.company")
    %td= text_field_tag 'user[profile_attributes][experience_attributes][company]', company, disabled: disabled

  %tr
    %td= label_tag t("user.profile.experience.title")
    %td= text_field_tag 'user[profile_attributes][experience_attributes][title]', title, disabled: disabled

  %tr
    %td= label_tag t("user.profile.experience.location")
    %td= text_field_tag 'user[profile_attributes][experience_attributes][location]', location, disabled: disabled

  %tr
    %td= label_tag t("user.profile.experience.from_date")
    %td= text_field_tag 'user[profile_attributes][experience_attributes][from_date]', from_date, disabled: disabled

  %tr
    %td= label_tag t("user.profile.experience.to_date")
    %td= text_field_tag 'user[profile_attributes][experience_attributes][to_date]', to_date, disabled: disabled

  %tr
    %td= label_tag t("user.profile.experience.description")
    %td= text_field_tag 'user[profile_attributes][experience_attributes][description]', description, disabled: disabled