.content_bg_dashboard_rgt
  %h5
    = t('user.welcome_text', user_name: current_user.name)
    .setting_drop(style = "margin-left: 10px;")
      = image_tag("setting-gear.png", alt: "Settings")
      .setting_listing(style = "display: none;")
        %ul
          %li= link_to t('navigation_links.profile'), profile_user_path(current_user), class: "setting_item"
          %li= link_to t('devise.logout'), signout_path, class: "setting_item"

  - unless current_user.profile.nil?
    %nav.header_nav
      = render partial: "navigation_links"
