- disabled = local_assigns[:disable_fields].nil? ? false : disable_fields

- profile = @user.profile
- first_name = nil
- last_name = nil
- birthday = nil
- hometown = nil
- current_location = nil
- education = nil
- experience = nil

- unless profile.nil?
  - first_name = profile.first_name
  - last_name = profile.last_name
  - birthday = profile.birthday
  - hometown = profile.hometown
  - current_location = profile.current_location
  - education = profile.education
  - experience = profile.experience

%table
  %tr
    %td= label_tag t("user.email")
    %td= email_field_tag 'user[email]', @user.email, disabled: true

  %tr
    %td= label_tag t("user.profile.first_name")
    %td= text_field_tag 'user[profile_attributes][first_name]', first_name, disabled: disabled

  %tr
    %td= label_tag t("user.profile.last_name")
    %td= text_field_tag 'user[profile_attributes][last_name]', last_name, disabled: disabled

  %tr
    %td= label_tag t("user.profile.birthday")
    %td= text_field_tag 'user[profile_attributes][birthday]', birthday, disabled: disabled, placeholder: t('user.profile.date_placeholder'), id: 'profile_birth_date'

  %tr
    %td= label_tag t("user.profile.hometown")
    %td= text_field_tag 'user[profile_attributes][hometown]', hometown, disabled: disabled

  %tr
    %td= label_tag t("user.profile.current_location")
    %td= text_field_tag 'user[profile_attributes][current_location]', current_location, disabled: disabled

%br
=render partial: "education_attributes", locals: { education: education, disabled: disabled }
%br
=render partial: "experience_attributes", locals: { experience: experience, disabled: disabled }