.section_profile_text_lft
  = render partial: "users/profile/picture"

.section_profile_text_rgt
  %p= t('user.set_new_password')
  %br/
  =form_for(@user, url: change_password_user_path(@user)) do |f|
    = render partial: "shared/error_messages", locals: { target: @user }

    .section_profile_detail_form
      %ul
        %li
          .section_profile_detail_area
            = label_tag t('user.password')
            - placeholder = @user.encrypted_password.present? ? t('user.password_leave_blank_text') : t('user.password')
            = password_field_tag('user[password]', nil, class: "section_profile_detail_form_big_medium", placeholder: placeholder)

        %li
          .section_profile_detail_area
            = label_tag t('user.confirm_password')
            = password_field_tag('confirm_password', nil, class: "section_profile_detail_form_big_medium", placeholder: t('user.confirm_password'))

    %div
      %button.profile_save_button.blue(type="submit" id="saveProfileBtn")= t('profile.save_btn')