= text_field_tag('school', nil, class: "section_profile_detail_edu", placeholder: t('profile.professional.placeholder.education.school'))
= text_field_tag('study_field', nil, class: "section_profile_detail_edu", placeholder: t('profile.professional.placeholder.education.major_study_field'))
= text_field_tag('from_date', nil, class: "section_profile_detail_edu_year", placeholder: t('profile.professional.placeholder.education.from_date'))
= text_field_tag('to_date', nil, class: "section_profile_detail_edu_year", placeholder: t('profile.professional.placeholder.education.to_date'))

= link_to('', '#', class: 'delete')