- profile = @user.profile
- first_name = nil
- last_name = nil
- birthday = nil
- hometown = nil
- current_location = nil
- biography = nil
- gender = nil
- interests = nil
- recent_activities = nil

- unless profile.nil?
  - first_name = profile.first_name
  - last_name = profile.last_name
  - birthday = profile.birthday
  - hometown = profile.hometown
  - current_location = profile.current_location
  - biography = profile.biography
  - gender = profile.gender
  - interests = profile.interests
  - recent_activities = profile.recent_activities

.section_profile_detail_form(id="personalProfileSection")
  %ul
    %li
      .section_profile_detail_area
        = label_tag t('profile.personal.biography')
        = text_area_tag('biography_area', biography, class: "section_profile_detail_form_big_box", placeholder: t('profile.personal.placeholder.biography'))

    %li
      .section_profile_detail_sub_area
        = label_tag(t('profile.personal.first_name'), nil, class: "section_profile_height")
        = text_field_tag('first_name', first_name, class: "section_profile_detail_form_big_medium", placeholder: t('profile.personal.placeholder.first_name'))

      .section_profile_detail_sub_area_rgt
        = label_tag(t('profile.personal.last_name'), nil, class: "section_profile_height")
        = text_field_tag('last_name', last_name, class: "section_profile_detail_form_big_medium", placeholder: t('profile.personal.placeholder.last_name'))

    %li
      .section_profile_detail_sub_area
        = label_tag(t('profile.personal.gender'), nil, class: "section_profile_height")
        = select_tag('gender', options_for_select( [ ["Male", "male"], ["Female", "female"] ], selected: gender ), include_blank: true, prompt: "- Select -", class: "section_profile_detail_form_big_small" )

      .section_profile_detail_sub_area_rgt
        = label_tag(t('profile.personal.birth_date'), nil, class: "section_profile_height")
        = date_select("user[profile_attrs]", "birthday", start_year: (Time.now.year - 50), prompt: { day: t('profile.personal.placeholder.birthday.date'), month: t('profile.personal.placeholder.birthday.month'), year: t('profile.personal.placeholder.birthday.year') }, class: "section_profile_detail_form_little_small")

    %li
      .section_profile_detail_sub_area
        = label_tag(t('profile.personal.location'), nil, class: "section_profile_height")
        = text_field_tag('current_location', current_location, class: "section_profile_detail_form_big_medium", placeholder: t('profile.personal.placeholder.current_location'))

      .section_profile_detail_sub_area_rgt
        = label_tag(t('profile.personal.home_town'), nil, class: "section_profile_height")
        = text_field_tag('home_town', hometown, class: "section_profile_detail_form_big_medium", placeholder: t('profile.personal.placeholder.home_town'))

    %li
      .section_profile_detail_area
        = label_tag(t('profile.personal.interests'))
        = text_area_tag('interests', interests, class: "section_profile_detail_form_big_box", placeholder: t('profile.personal.placeholder.interests'))

    %li
      .section_profile_detail_area
        = label_tag('recent_activities', t('profile.personal.recent_activities').html_safe)
        = text_area_tag('recent_activities', recent_activities, class: "section_profile_detail_form_big_box", placeholder: t('profile.personal.placeholder.recent_activities'))
