%div.mquestsLegends
  %span= t('user.mquests.legends.title')
  %table
    %tr
      %td
        %b= t('user.mquests.legends.sent_mquest')
      %td
        = t('user.mquests.legends.sent_mquest_title')
    %tr
      %td
        %b= t('user.mquests.legends.received_mquest')
      %td
        = t('user.mquests.legends.received_mquest_title')

    %tr
      %td
        %b= t('user.mquests.legends.remquest')
      %td
        = t('user.mquests.legends.remquest_title')

    %tr
      %td
        %b= t('user.mquests.legends.be_mentor')
      %td
        = t('user.mquests.legends.be_mentor_title')

    %tr
      %td
        %b= t('user.mquests.legends.be_mentee')
      %td
        = t('user.mquests.legends.be_mentee_title')

