- unless another_user.nil?
  - another_user_id = another_user.id
  - another_user_name = another_user.name
  .quest_poster-thumbs
    = image_tag(user_profile_picture_path(another_user), width: "40px", height: "40px", alt: another_user_name)

  .quest_poster-thumbs-name
    %p=  another_user.name
    - unless current_user.is_following?(another_user)
      =link_to(t('user.follow.title'), follow_user_path(id: current_user.id, follow_user_id: another_user_id), method: :post)

  - most_recent_message = current_user.most_recent_message_received_from_user(another_user)
  - most_recent_message_found = !most_recent_message.nil?

  - if most_recent_message_found
    .quest_poster-thumbs-content
      = most_recent_message.content

    .quest_poster-thumbs-content-hours
      %p= formatted_message_datetime(most_recent_message.datetime)
      = link_to(t('mquest.reply_link'), "#")
      - if most_recent_message.unacknowledged?
        = link_to(t('mquest.mark_as_read_link'), "#")
  - else
    .quest_poster-thumbs-content
      = link_to(t('mquest.send_message_link'), user_mquest_path(user_id: current_user.id, id: another_user_id), remote: true)
    .quest_poster-thumbs-content-hours
