%div.mquestsUsers
  %span= t('user.mquests.users')
  %br/
  %table
    - @users.each do |user|
      - user_id = user.id

      -# Variable names should be considered in current user's context and
      -# not user's context as all data-checks are made against current_user.

      - already_a_mentor = current_user.mentees.exists?(user)
      - already_a_mentee = current_user.mentors.exists?(user)

      - already_received_mquest_as_mentor = current_user.mquest_received?(Mquest::MENTOR, user)
      - already_received_mquest_as_mentee = current_user.mquest_received?(Mquest::MENTEE, user)

      - already_sent_mquest_as_mentor = current_user.mquest_sent?(Mquest::MENTOR, user)
      - already_sent_mquest_as_mentee = current_user.mquest_sent?(Mquest::MENTEE, user)

      - mquest_as_mentor_path = mquest_path(from: current_user.id, to: user_id, role: Mquest::MENTOR)
      - mquest_as_mentee_path = mquest_path(from: current_user.id, to: user_id, role: Mquest::MENTEE)

      - mquest_as_mentor_link_title = "#{t('user.mquests.mquest_link_title')} #{t('user.mquests.as_mentor')}"
      - mquest_as_mentor_link = link_to(mquest_as_mentor_link_title, mquest_as_mentor_path, method: :post)

      - mquest_as_mentee_link_title = "#{t('user.mquests.mquest_link_title')} #{t('user.mquests.as_mentee')}"
      - mquest_as_mentee_link = link_to(mquest_as_mentee_link_title, mquest_as_mentee_path, method: :post)

      %tr
        %td= user.name
        %td &nbsp;

        %td
          %div
            - if already_a_mentor or already_a_mentee
              %span<
                - if already_a_mentor
                  = "Your Mentee"
                - elsif already_a_mentee
                  = "Your Mentor"

              %span<
                &nbsp;
                - role = nil
                - if already_a_mentor
                  - role = Mquest::MENTOR
                - elsif already_a_mentee
                  - role = Mquest::MENTEE

                - unless role.nil?
                  - delink_path = delink_user_path(id: current_user.id, role: role, from: user.id)
                  = link_to(t('user.mentor_mentee_connection.delink.title'), delink_path, method: :post)
            - else
              %span<
                - if (!already_received_mquest_as_mentee and !already_sent_mquest_as_mentor)
                  = mquest_as_mentor_link.html_safe
                - else
                  - if already_received_mquest_as_mentee
                    = "#{t('user.mquests.legends.sent_mquest')} #{t('user.mquests.legends.be_mentee')}"
                  - elsif already_sent_mquest_as_mentor
                    = "#{t('user.mquests.legends.received_mquest')} #{t('user.mquests.legends.be_mentor')}"

              %span &nbsp;

              %span<
                - if (!already_received_mquest_as_mentor and !already_sent_mquest_as_mentee)
                  = mquest_as_mentee_link.html_safe
                - else
                  - if already_received_mquest_as_mentor
                    = "#{t('user.mquests.legends.sent_mquest')} #{t('user.mquests.legends.be_mentor')}"
                  - elsif already_sent_mquest_as_mentee
                    = "#{t('user.mquests.legends.received_mquest')} #{t('user.mquests.legends.be_mentee')}"


      - show_remquest_links = !(already_a_mentor or already_a_mentee)
      - if show_remquest_links
        %tr
          %td &nbsp;
          %td &nbsp;
          %td
            %div
              %span<
                - if (already_received_mquest_as_mentee or already_sent_mquest_as_mentor)
                  - title = "#{t('user.mquests.legends.remquest')} #{t('user.mquests.legends.be_mentor')}"
                  = link_to(title, mquest_as_mentor_path, method: :post)

              %span
                - if (!already_received_mquest_as_mentee and !already_sent_mquest_as_mentor)
                  - 16.times do
                    &nbsp;
                - else
                  &nbsp;

              %span<
                - if (already_received_mquest_as_mentor or already_sent_mquest_as_mentee)
                  - title = "#{t('user.mquests.legends.remquest')} #{t('user.mquests.legends.be_mentee')}"
                  = link_to(title, mquest_as_mentee_path, method: :post)
