- if @users.empty?
  %p= t('user.mquests.no_users_available')
- else
  %br/
  %br/
  %table
    - @users.each do |user|
      - user_id = user.id
      %tr
        %td= user.name
        %td &nbsp;
        %td
          = link_to(mquest_as_mentor_path(mentor_id: current_user.id, mentee_id: user_id, role: Mquest::MENTOR), method: :post) do
            = "#{t('user.mquests.mquest_link_title')} #{t('user.mquests.as_mentor')}"
        %td &nbsp;
        %td
          = link_to(mquest_as_mentee_path(mentee_id: current_user.id, mentor_id: user_id, role: Mquest::MENTEE), method: :post) do
            = "#{t('user.mquests.mquest_link_title')} #{t('user.mquests.as_mentee')}"


