%ul
  %li
    = link_to(user_home_path, class: "#{ @dashboard_active ? 'active' : '' }") do
      %figure.dashboard_icon
      =t('navigation_links.home')

  %li
    = link_to('#', class: "#{ @mboard_active ? 'active' : '' }") do
      %figure.mboard_icon
      =t('navigation_links.mboard')

  %li
    = link_to(user_mquests_path(user_id: current_user.id), class: "#{ @mquest_active ? 'active' : '' }") do
      %figure.mquest_icon
      =t('navigation_links.mquest')

  %li
    = link_to(search_path, class: "#{ @search_active ? 'active' : '' }") do
      %figure.search_icon
      =t('navigation_links.search')
