!!!
%html
  %head
    %title Mentor-Mentee
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: "layouts/top_navigation"

    - flash.each do |name, message|
      %p.error= message if name == :error
      %p.alert= message if ((:alert == name) or (:notice == name))

    = yield
