!!!
%html
  %head
    %title= Settings.app_name
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = image_tag("main-bg.jpg", alt: "full screen background image", id: "full-screen-background-image")
    #wrapper
      = render "layouts/header"
      = render "layouts/content"
      = render "layouts/footer"
